/* FONTS */
@font-face {
    font-family: "Merriweather";
    src: url("/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf")
        format("truetype");
}
@font-face {
    font-family: "PT Serif";
    src: url("/fonts/PTSerif-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Serif";
    src: url("/fonts/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf")
        format("truetype");
}
* {
    box-sizing: border-box;
}
input,
select,
textarea,
button {
    border: none;
    box-shadow: none;
    outline: none;
    background: none;
}
body {
    font-family: "Merriweather";
}
header {
    background-color: #36454f;
    padding: 10px;
    text-align: center;
    font-family: "PT Serif", Times, serif;
}
header,
h1 {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}
.lite {
    font-family: "Roboto Serif";
    font-size: 12px;
    font-weight: 100;
    padding-bottom: 15px;
}
legend {
    font-size: 24px;
    font-weight: 600;
    padding-top: 30px;
}
.contact {
    padding-bottom: 20px;
}
.container {
    padding: 5%;
}
hr {
    border-bottom: 2px solid black;
}
.sec1 {
    text-align: center;
    border-bottom: 4px solid black;
    margin-bottom: 4px;
}
/*
.sec2 {
    text-align: center;
    border-top: 2px solid black;
    width: 100%;
}
*/
.sec2 label {
    display: block;
    margin-bottom: 3px;
    margin-top: 7px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 3px;
}
.sec2 input {
    font-size: 18px;
    padding: 15px 0 15px 10px;
}
.sec2 input,
select {
    font-family: "Roboto Serif";
    width: 90%;
    border: 0px;
    background-color: #f8f8f8;
    border-radius: 5px;
}
#state {
    padding: 15px 0 15px 10px;
}
/*
.sec2 input[placeholder="Required"] {
    text-align: right;
    font-style: italic;
    font-weight: 100;
    font-size: 12px;
    margin-right: 15px;
    padding: 15px 12px;
}
*/
input::placeholder {
    font-style: italic;
    font-weight: 100;
    font-size: 12px;
    padding: 15px 12px;
    text-align: right;
}
.zip {
    width: 50%;
    margin-bottom: 40px;
}
/*
input[placeholder="Required"] {
    margin-right: 15px;
}
*/
select:focus, input:focus[type=text], input:focus[type=name], input:focus[type=email], input:focus[type=tel], input:focus[type=zip] {
    border: 5px dashed pink;
}
textarea:focus {
    border: 5px dashed pink;
}
textarea:focus:hover, select:focus:hover, input:focus:hover {
  background-color: #ffcccc;
  /* width: 200px;
  height: 200px; */
  rotate: 180deg;
  border: 2px solid #00F;
  transition-duration: 5s;
}
.newsletter input {
    padding-right: 5px;
}
.sec3 {
    background-color: #faf0f7;
    display: flex;
    flex-direction: column;
}
.sec3 input {
    padding: 40px;
}
.check,
.radio {
    padding-bottom: 15px;
}
.sec3 label {
    margin-left: 10px;
}
.copy {
    font-family: "Roboto Serif";
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
}
textarea {
    width: 100%;
    border: 0;
    background-color: #f8f8f8;
    padding: 40px 10px;
    font-size: 15px;
}
fieldset {
    border: 0;
    padding-top: 0;
}
button {
    background-color: #57b9b0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 25px 0;
    width: 100%;
    border: 0;
    border-radius: 5px;
}
.button {
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
}
.sec4 {
    width: 90%;
}
/* label[for="textarea"] {
    font-size: 32px;
    margin-bottom: 30px;
} */
label[class="textpad"] {
    padding-top: 10px;
}
[class=textpad] {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
    .button {
        margin: 0 auto;
    }
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    /* label, input {
        flex-basis: 1000px;
    }  */
    label[for=name] {
        flex-grow: 1;
    }
    #name, #mail, #phone, #address, #city, #state {
        flex-basis: 500px;
        margin-top: 15px;
    }
    label[for=zip] {
        flex-basis: 315px;
    }
    .zip {
        width: 50%;
        margin-top: 15px;
    }
/*  
    #name, #mail, #phone, #address, #city, #state {
        width: 40%;
        padding-left: 10px;
    } 
*/
}
@media screen and (min-width: 992px) {
    /* .button {
        margin: 0 auto;
    } */
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #name, #mail, #phone, #address, #city, #state {
        flex-basis: 750px;
        margin-top: 15px;
    }
    label[for=zip] {
        flex-basis: 170px;
    }
    .zip {
        width: 40%;
        margin-top: 15px;
    }
    /* [class=textpad] {
        display: block;
        font-size: 18px;
    } */
}
@media screen and (min-width: 1200px) {
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #name, #mail, #phone, #address, #city, #state {
        flex-basis: 850px;
        margin-top: 15px;
    }
    label[for=zip] {
        flex-basis: 360px;
    }
    .zip {
        width: 40%;
        margin-top: 15px;
    }
}
